# Python
*.py[cod]
__pycache__/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

roadmap.md
proposal.txt
project_structure.txt


# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.example
.env copy
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
logs/
*.log

# Coverage
.coverage
htmlcov/

# Redis
dump.rdb

# Node
node_modules/

# Virtual Environment
myenv/
venv/

# Django
core/__pycache__/
apps/*/migrations/__pycache__/
static/admin/

# Python bytecode files
apps/*/__pycache__/
apps/*/*/__pycache__/
*.pyc 