{% extends 'base_authenticated.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Account Settings</h4>
                </div>
                <div class="card-body">
                    <!-- Add your settings form here -->
                    <p class="text-muted">Settings page content will go here.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 